

  <% if flash[:notice] %>
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
      <%= flash[:notice] %>
    </div> 
  <% end %>


<%= link_to 'Edit', edit_page_path(@page), class:"button btn btn-primary" %> 
<%= link_to 'Back', pages_path, class:"button btn btn-secondary" %>





<div class="jumbotron">
    
  <h3>URL<h3>  
  <div class="card">
    <div class="card-body">  
        <%= @page.url %>
    </div>
  </div>
  

  <h1>H1</h1>
  <div class="card">
    <div class="card-body">
       <ul class="list-group">
        <% @page.h1.each do |h1| %>
          <li class="list-group-item"><%= h1 %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <h2>H2</h2>
  <div class="card">
    <div class="card-body">
       <ul class="list-group">
        <% @page.h2.each do |h2| %>
          <li class="list-group-item"><%= h2 %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <h3>H3</h3>
  <div class="card">
    <div class="card-body">
       <ul class="list-group">
        <% @page.h3.each do |h3| %>
          <li class="list-group-item"><%= h3 %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <h3>Links</h3>
  <div class="card">
    <div class="card-body">
       <ul class="list-group">
        <% @page.links.each do |links| %>
          <li class="list-group-item"><%= links %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
