<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<p>
  <strong>H1:</strong>
  <%= @page.h1 %>
</p>
<p>
  <strong>H2:</strong>
  <%= @page.h2 %>
</p>
<p>
  <strong>H3:</strong>
  <%= @page.h3 %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
